{% extends "base.html" %}
{% block content %}


<h2>{{ page_title }}</h2>
<p>
    The formation of the group grew out of a meeting Gandalf had with Thorin in Bree which kindled Thorin's interest in
    recapturing his long lost family inheritance. (Thorin's grandfather had been the king of the Lonely Mountain when
    Smaug came and took it.) Remembering that he had once known an adventurous Hobbit on his travels in the Shire,
    Gandalf decided to add Bilbo to their company because he knew that stealth and cunning were preferable to force.
    Gandalf also believed that someone like Bilbo could keep the sometimes prideful and stubborn Dwarves from rash
    action. The superstitious Dwarves also considered thirteen to be an unlucky number, and as Gandalf had planned to
    leave on other business, welcomed a fourteenth to fill into their party.
</p>

<div class="row featurette">
    <div class="col-md-7">
        <h3>{{ company[0]["name"] }}</h3>
        <p>{{ company[0]["description"] }}</p>
    </div>
    <div class="col-md-5">
        <img src="{{ company[0]['img_src'] }}"
            alt="{{ company[0]['name'] }} Of The Hobbit">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-5">
        <img src="{{ company[1]['img_src'] }}"
            alt="{{ company[1]['name'] }} Of The Hobbit">
    </div>
    <div class="col-md-7">
        <h3>{{ company[1]["name"] }}</h3>
        <p>{{ company[1]["description"] }}</p>
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h3>{{ company[2]["name"] }}</h3> 
        <p>{{ company[2]["description"] }}</p>
    </div>
    <div class="col-md-5">
        <img src="{{ company[2]['img_src'] }}"
            alt="{{ company[2]['name'] }} Of The Hobbit">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-5">
        <img src="{{ company[3]['img_src'] }}"
            alt="{{ company[3]['name'] }} Of The Hobbit">
    </div>
    <div class="col-md-7">
        <h3>{{ company[3]["name"] }}</h3>
        <p>{{ company[3]["description"] }}</p>
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h3>{{ company[4]["name"] }}</h3> 
        <p>{{ company[4]["description"] }}</p>
    </div>
    <div class="col-md-5">
        <img src="{{ company[4]['img_src'] }}"
            alt="{{ company[4]['name'] }} Of The Hobbit">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-5">
        <img src="{{ company[5]['img_src'] }}"
            alt="{{ company[5]['name'] }} Of The Hobbit">
    </div>
    <div class="col-md-7">
        <h3>{{ company[5]["name"] }}</h3>
        <p>{{ company[5]["description"] }}</p>
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h3>{{ company[6]["name"] }}</h3> 
        <p>{{ company[6]["description"] }}</p>
    </div>
    <div class="col-md-5">
        <img src="{{ company[6]['img_src'] }}"
            alt="{{ company[6]['name'] }} Of The Hobbit">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-5">
        <img src="{{ company[7]['img_src'] }}"
            alt="{{ company[7]['name'] }} Of The Hobbit">
    </div>
    <div class="col-md-7">
        <h3>{{ company[7]["name"] }}</h3>
        <p>{{ company[7]["description"] }}</p>
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h3>{{ company[8]["name"] }}</h3> 
        <p>{{ company[8]["description"] }}</p>
    </div>
    <div class="col-md-5">
        <img src="{{ company[8]['img_src'] }}"
            alt="{{ company[8]['name'] }} Of The Hobbit">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-5">
        <img src="{{ company[9]['img_src'] }}"
            alt="{{ company[9]['name'] }} Of The Hobbit">
    </div>
    <div class="col-md-7">
        <h3>{{ company[9]["name"] }}</h3>
        <p>{{ company[9]["description"] }}</p>
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h3>{{ company[10]["name"] }}</h3> 
        <p>{{ company[10]["description"] }}</p>
    </div>
    <div class="col-md-5">
        <img src="{{ company[10]['img_src'] }}"
            alt="{{ company[10]['name'] }} Of The Hobbit">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-5">
        <img src="{{ company[11]['img_src'] }}"
            alt="{{ company[11]['name'] }} Of The Hobbit">
    </div>
    <div class="col-md-7">
        <h3>{{ company[11]["name"] }}</h3>
        <p>{{ company[11]["description"] }}</p>
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h3>{{ company[12]["name"] }}</h3> 
        <p>{{ company[12]["description"] }}</p>
    </div>
    <div class="col-md-5">
        <img src="{{ company[12]['img_src'] }}"
            alt="{{ company[12]['name'] }} Of The Hobbit">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-5">
        <img src="{{ company[13]['img_src'] }}"
            alt="{{ company[13]['name'] }} Of The Hobbit">
    </div>
    <div class="col-md-7">
        <h3>{{ company[13]["name"] }}</h3>
        <p>{{ company[13]["description"] }}</p>
    </div>
</div>
< {% endblock %}